<div class="user-input-page">
    <form action="/auth/login" method="POST">
      <%- include('../partials/_login_form_fields.ejs', username_needed=false) %>
  
      <button class="normalBtn submitBtn" type="submit">Login</button>
    </form>
  </div>