<div class="user-input-page">
    <form action="/auth/signup" method="POST">
      <%- include('../partials/_login_form_fields.ejs', username_needed=true) %>
  
      <button class="normalBtn submitBtn" type="submit">Sign Up</button>
    </form>
  </div>