.header-title {
    color: var(--color-text-light);
    text-decoration: none;
    font-size: 1.5rem;
    font-weight: bold;
  }
  
  .header-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .header-nav .nav-links {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  
  .nav-links li a {
    margin-left: 10px;
    color: var(--color-link-dark);
    border-radius: 0.25rem;
    border: 1px solid var(--color-text-dark);
    padding: 1rem 1.3rem;
    transition: all 0.4s;
    font-size: 1.2rem;
  }
  
  .nav-links li a:hover {
    background-color: hsl(var(--color-danger-hue), 100%, 50%);
    color: white;
  }
  
  @media (max-width: 500px) {
    .header-title {
      font-size: 1.9rem;
    }
  
    .header-nav {
      flex-direction: column;
      justify-content: center;
    }
  
    .nav-links {
      flex-direction: column;
      justify-content: center;
      align-items: start;
      width: 100%;
    }
  
    .nav-links li a {
      padding: 0.7rem 1.1rem;
      margin-left: 0px;
    }
  }