<div class="user-input-page">
    <form action="/user/delete" method="POST">
      <%- include('../partials/_login_form_fields.ejs', username_needed=false) %>
  
      <button class="normalBtn submitBtn" type="submit">Delete</button>
    </form>
  </div>